#navbar ul{
  margin-left: 2px;
}


  #navbar ul, #navbar ul li {
    
    float: none;
  }
  
  #navbar ul li a {
  
      color: black;
    padding: 2px;
    
  }
 

  #showcase .showcase-content {
    display: inline-block;
    margin: auto;
    padding: 30%;
    height: 100%;
    color: rgb(37, 38, 39);
  /*background-color: rgba(0,0,0,0.4);*/
  
   
  }
  /* about Info */
   .text-primary {
    color: #5e5750;
  }


  #about-info {
    height: 100vh;
    display: flex;
    
    width: 100%;
  }
  
  #about-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/img7.jpg') no-repeat center center/contain;
    height: 50%;
    margin-left: 0%;
    opacity: 0.9;
  
  }
  
  #about-info .info-content{
      color: honeydew;
      
    float: right;
    width:50%;
    height: 100%;
    text-align: center;
    padding: 10px 0px;
    overflow: hidden;
    
  }
  
  #about-info .info-content p{
    line-height: 1.5rem;
      font-size: 14px;
      padding-top: 10px;
  }

  .foot{
      float:right;

  }


  