:root {
    --primary-color: #0c0b0c;
    --secondary-color: #8b778b;
    --max-width: 1100px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: normal 1rem/1.5 'Arial', sans-serif;
    background: url('../img/img8.jpg') no-repeat center center/cover;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
    
  }

  #navbar .logo{
    font-family: 'Lucida Sans';
    font-size: 25px;
    font-weight: bolder;
    padding-left: 10px;
    text-shadow: 0.3rem 0.3rem rgb(134, 172, 202);
    margin-right: 3rem;
    /*transition:all 1s ease-in-out;*/
    color:var(--secondary-color);
   
  }
  
  .logo:hover {
    color:var(--primary-color);
 }


  /* Navbar */
 #navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top:0;
    justify-content: right;
    padding: 1rem;
   
  }
  
  #navbar {
      width: 20%;
      float:left;

  }
  
  #navbar ul {
    width: 80%;
    display: inline-flex;
    
    align-items:right;
    list-style: none;
  }
  
  #navbar ul li a {
    float:right;
    color:black;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 18px;
    text-decoration: none;
   
  }
  
  #navbar ul li a:hover {
    
    color: gray;
    border-radius: 5px;
  }
  
  .currentpage {
    background-color: rgb(219, 129, 174);
    border-radius: 10%;
  }
  
  
  
  #main-header {
    background-image: url(/img/img2.jpg);
    padding: 2rem 0;
  }
  
  #timeline .container {
  /*  max-width: var(--max-width);*/
 
    margin:auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.3rem;
  }
  
  #timeline ul {
    /*background: var(--primary-color);*/
    background: url('../img/img8.jpg') no-repeat center center/cover;
    padding: 50px 0;
  }
  
  /* Create Line */
  #timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  /* Boxes */
  #timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--secondary-color);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

   /* Right Side */
   #timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
  }
  
  /* Left Side */
  #timeline ul li:nth-child(even) div {
    left: -432px;
    transform: translate(-200px, 0);
  }

   .imagesize{
      width: 350px;
      height: 150px;
  }
  
  /* Dots */
  #timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: inherit;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
  }
  
  /* Arrows Base */
  #timeline div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  /* Right Side Arrows */
  #timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
  
  /* Left Side Arrows */
  #timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
  } 
  
  /*Show Boxes*/ 
  #timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  #timeline ul li.show:after {
    background: var(--secondary-color);
  }  
 
  
  
  @media(max-width: 900px) {
    #timeline ul li:nth-child(1n+1) div{
     width: 250px;
    }
   
    .imagesize{
    width: 200px;
    height: 100px;
    }

      /* Right Side */
   #timeline ul li:nth-child(odd) div {
    left:40px;

    
  }
  
  /* Left Side */
  #timeline ul li:nth-child(even) div {
    left: -80px;
    transform: translate(-200px, 0);
  }
  }

  
  @media(max-width: 600px) {
    #timeline ul li {
      margin-left: 20px;
    }
  
    #timeline ul li div {
      width: calc(100vw - 90px);
    }
  
    #timeline ul li:nth-child(even) div {
      left: 240px;
    }
  
    #timeline ul li:nth-child(even) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--secondary-color) transparent transparent;
    }

    .imagesize{
        width: 150px;
        height: 100px;
        }
  }
  